canvas {
  background: #e5e5e5;
  border-radius: 2px;
  padding: 8px 7px 7px 8px;
  -webkit-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.62);
  -moz-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.62);
  box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.62);
}